.game {
    color: white;
    margin-top: 150px;
    justify-content: space-between;
    background-color: rgba(11, 204, 180, 0.1);
    width: 100%;
    min-height: 50%;
}

/* inicio telas */
.menuJogo {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid black;
    height: 100%;
}

.jogador1 {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 25px;
    padding-right: 25px;
    display: none;
}

.jogador2 {
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 25px;
    padding-right: 25px;
    display: none;
}

.jogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border: 2px solid white;
    display: none;
}

/* UI jogo */
.UI {
    display: flex;
    justify-content: space-between;
}

.UI h1 {
    font-size: 20px;
    text-align: center;
}


/* Fim telas */
/* botoes */
#modoJogo, #proximo, #voltar {
    width: 40%;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 10px;
    height: 30px;
    background: #f7b733;
}

.solo {
    display: flex;
    display: none;
    justify-content: center;
}

.mult {
    display: flex;
    display: none;
    justify-content: center;
}

/* fim botoes */
input {
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
}

label {
    color: white;
    margin: 12px;
    font-size: 22px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

#chute {
    width: 100%;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 10px;
    height: 30px;
    background: #f7b733;
}

.title_game {
    text-align: center;
    margin-bottom: 50px;
}