input {
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 5px;
}

.selectType select {
    width: 100%;
    height: 30px;
    margin-right: 20px;
}

#conversor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
}

#verificar {
    width: 100%;
    margin-top: 20px;
    padding: 4px 8px;
    border-radius: 10px;
    height: 30px;
    background: #f7b733;
}

/* Tabela */
#listaAlimento {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#listaAlimento td, #listaAlimento th {
    border: 1px solid #ddd;
    padding: 8px;
}

#listaAlimento th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}