body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #2d2d2d;
}

.flex-conteiner {
    display: flex;
    justify-content: left;
    width: 100vw;
    height: 90vh;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.contorno {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border: 10px solid #099c22;
    border-radius: 5px;
    width: 50%;
    min-height: 100%;
    margin-left: 25%;
    padding: 2%;
    padding-bottom: 25px;
}

.conteudo {
    margin-top: 10px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(11, 204, 180, 0.1);
    height: 100%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.page-title {
    color: #ffffff;
    font-size: 32px;
    margin: 0 0 5px;
    text-align: center;
    margin-bottom: 16px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;

    font-size: 22px;
}